.intSubcategoryContainer{
    background: #1b1818;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.intSubcategoryContent{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.intSubfileTitle{
    color: #cb5106;
    font-size: 25px;
    font-weight: 600;
}

.intSublinkListItems{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
}

.intSubfileLink{

}

.intSubfileLink a{
    text-decoration: none;
    color: #fff
}